@page
@model MyCompany.Pages.Users.RegisterModel
@{
	ViewData["Title"] = "Register account";
}
<style>
	@@media (min-width: 1025px) {
		.h-custom {
			height: 100vh !important;
		}
	}

	.card-registration .select-input.form-control[readonly]:not([disabled]) {
		font-size: 1rem;
		line-height: 2.15;
		padding-left: .75em;
		padding-right: .75em;
	}

	.card-registration .select-arrow {
		top: 13px;
	}

	.bg-indigo {
		background-color: #4835d4;
	}

	@@media (min-width: 992px) {
		.card-registration-2 .bg-indigo {
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
		}
	}

	@@media (max-width: 991px) {
		.card-registration-2 .bg-indigo {
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
		}
	}
</style>
<form method="post" enctype="multipart/form-data">
	<div asp-validation-summary="All" class="text-danger"></div>
	<section class="h-100 h-custom gradient-custom-2">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12">
					<div class="card card-registration card-registration-2" style="border-radius: 15px;">
						<div class="card-body p-0">
							<div class="row g-0">
								<div class="col-lg-6">
									<div class="p-5">
										<h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>

										<div class="mb-4 pb-2">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea2" asp-for="MyUser.Name"></label>
												<input type="text" id="form3Examplea2" class="form-control form-control-lg" asp-for="MyUser.Name" />
												<span asp-validation-for="MyUser.Name" class="text-danger"></span>
											</div>
										</div>

										<div class="mb-4 pb-2 col">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea2" asp-for="MyUser.Age"></label>
												<br>
												<input type="number" id="form3Examplea2" class="form-control form-control-lg" style="width:100px" asp-for="MyUser.Age" />
												<span asp-validation-for="MyUser.Age" class="text-danger"></span>
											</div>
										</div>

										<div class="mb-4 pb-2">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea2" asp-for="MyUser.Password"></label>
												<input type="password" id="form3Examplea2" class="form-control form-control-lg" asp-for="MyUser.Password" />
												<span asp-validation-for="MyUser.Password" class="text-danger"></span>
											</div>
										</div>

										<div class="mb-4 pb-2">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea2" asp-for="MyUser.CfmPassword">Confirm Password</label>
												<input type="password" id="form3Examplea2" class="form-control form-control-lg" asp-for="MyUser.CfmPassword" />
												<span asp-validation-for="MyUser.CfmPassword" class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 bg-indigo text-white">
									<div class="p-5">
										<h3 class="fw-normal mb-5">Contact Details</h3>

										<div class="mb-4 pb-2">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea3" asp-for="MyUser.Address"></label>
												<input type="text" id="form3Examplea3" class="form-control form-control-lg" asp-for="MyUser.Address" />
												<span asp-validation-for="MyUser.Address" class="text-danger"></span>
											</div>
										</div>

										<div class="mb-4 pb-2">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea2" asp-for="MyUser.Postal">Postal Code</label>
												<input type="number" id="form3Examplea2" class="form-control form-control-lg" asp-for="MyUser.Postal" />
												<span asp-validation-for="MyUser.Postal" class="text-danger"></span>
											</div>
										</div>

										<div class="mb-4 pb-2">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea6" asp-for="MyUser.Phone">Mobile</label>
												<input type="number" id="form3Examplea6" class="form-control form-control-lg" asp-for="MyUser.Phone" />
												<span asp-validation-for="MyUser.Phone" class="text-danger"></span>
											</div>
										</div>

										<div class="mb-4">
											<div class="form-outline form-white">
												<label class="form-label" for="form3Examplea9" asp-for="MyUser.Email"></label>
												<input type="text" id="form3Examplea9" class="form-control form-control-lg" asp-for="MyUser.Email" />
												<span asp-validation-for="MyUser.Email" class="text-danger"></span>
											</div>
										</div>

										<div class="form-check d-flex justify-content-start mb-4 pb-3">
											<input class="form-check-input me-3" type="checkbox" value=""
												id="form2Example3c" required />
											<label class="form-check-label text-white" for="form2Example3">
												I do accept the <a href="#!" class="text-white"><u>Terms and
														Conditions</u></a> of your site.
											</label>
										</div>
										<input type="submit" value="Register" class="btn btn-light btn-lg" id="btnSubmit" data-mdb-ripple-color="dark" />

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}